
body 
{
	font-size: 100%;
	font-family: "Avenir Next", "Helvetica Neue",  Helvetica, Arial, sans-serif;
	font-style: normal;
	background-color: white;

	width: 100%;
	margin: 0;
	padding:0;
	border: 0;
	line-height: 1.8em;
}

section
{
	margin: 0;
	width: 100%;
}

.clear
{
	text-align: center;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

strong
{
	font-size: 1em;
	font-weight: 500;
}

h1, h2, h3
{
	margin: 1.5em 0 1em 0;
	font-weight: 500;
}

h1
{
	font-size: 2.0em;
}

h2
{
	font-size: 1.5em;
}

#iPad {
	width: 880px;
	height: 695px;
	background-image: url(../images/ipad_big.png);
	background-repeat: no-repeat;
	margin: auto;
	margin-top: 0;
	z-index: 2;
	margin-bottom: 40px;
}

#Air{
	width: 900px;
	height: 479px;
	background-image: url(../images/air.png);
	background-repeat: no-repeat;
	margin: auto;
	margin-top: 0;
	z-index: 2;
	margin-bottom: 40px;
}

.slideshow { 
	width: 716px;	
	height: 537px; 
	position: relative;
	top:  72px;
	left: 87px;
	background-repeat: no-repeat;
	background-size: 100%;
}

.slideshow img 
{
	width: 716px;	
	height: 537px;
}

.slideshow_mac img 
{
	width: 584px;	
	height: 365px; 
}

a
{
	
}

a:visited
{

}

a:hover
{

}

dl
{
	margin: 0 auto 10px;
}

code
{
    white-space: nowrap;
    font-size: 0.9em;
    padding: 2px;
    -webkit-border-radius: 3px;
    background-color: #EEEEEE;
    border: 1px solid #DADADA;
}


/* Features block begin */

#header 
{
	background-color: #1e1e1e;
	font-weight: normal;
}

#header a
{
	text-decoration: none;
	color: silver;
	margin-right: 40px;
	margin-left: 40px;
}

#header a:visited
{
	color: silver;
	text-decoration: none;
}

#header a:hover
{
	color: white;
	text-decoration: underline;
}

/* Features block end */

#title
{
	font-size: 2.5em;
	padding-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}

#slogan
{
	font-weight: normal;
	font-size: 1.5em;
	margin: 20px auto;
	color: #444;
	width: 50%;
}

.intro
{
	background-color: #f9f9f9;
	padding-bottom: 40px;
}


/* Support block begin */

#iwriter_support 
{
	line-height: 1.8em;
	padding: 50px 0px 50px 0px;
	text-align: left;
	background-color: #1b1b1b;
	margin: 0 auto;
	width: 40%;
}

#iwriter_support h1, h2, h3
{
	margin: 0;
	font-weight: normal;
	font-size: 1.5em;
}

#iwriter_support p
{
	font-size: 0.9em;
	margin: 0px 0px 20px 0px;
	padding: 0;
	color: #777E87;
}

#iwriter_support span
{
	text-shadow: 0px 0px;
	font-weight: normal;
	color: #bfbfbf;
}

.TOC
{
	margin-bottom: 3em;
}

/* Support block end */


/* Features block begin */


#features 
{
	line-height: 1.8em;
	padding: 50px 0px 50px 0px;
	background-color: #f0f0f0;
	min-height: 170px;
	overflow: auto;
}

#features #container
{
	width: 90%;
	max-width: 960px;
	min-width: 600px;
	margin: 0 auto;
	text-align: center;
	color: #313131;
}

#features #container div
{
	float: left;
	width: 30%;
	display: inline;
	margin-right: 1.5%;
	margin-left: 1.5%;
}

#features code
{
    white-space: nowrap;
    font-size: 0.9em;
    padding: 2px;
    -webkit-border-radius: 3px;
    background-color: #EEEEEE;
    border: 1px solid #DADADA;
}

#features span
{
	text-shadow: 0px 0px;
	font-weight: normal;
	color: #bfbfbf;
}

#features h1,h2,h3
{
	margin: 0px 0px 13px 0px;
	padding: 0;
	font-size: 1.2em;
	font-weight: 500;
}

#features p
{
	color: #525252;
}

/* Features block end */


/* Purchase block begin */

#purchase 
{
	margin: 0px auto 0px auto;
	width: 80%;
	max-width: 960px;
	min-width: 600px;
	padding: 50px 0px 50px 0px;
	display: block;
	height: 350px;
	text-align: center;
}

#purchase div
{
	float: left;
	text-align: center;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
}

#purchase h2
{
	margin: 10px auto;
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
}

#purchase p
{
	font-weight: 300;
	margin: 10px auto;
	text-align: center;
}

#purchase span
{
	font-size: 1.0em;
	color: gray;
}


/* Purchase block end */


/* FAQ block begin */

#faq 
{
	margin: 0;
	padding: 50px 0px 50px 0px;
	text-align: center;
	background-color: #efefef;
	overflow: auto;
	min-height: 300px;
	min-width: 800px;
}

#faq div
{
	text-align: left;
	width: 60%;
	display: block;
	margin: 0 auto;
}

#faq h1
{
	text-align: center;
	font-size: 2em;
	font-weight: 500;
}

#faq h2
{
	text-align: center;
	margin: 3em auto;
	font-size: 1.5em;
	font-weight: 500;
}

#faq h3
{
	margin: 3em auto 0;
	font-size: 1.1em;
	font-weight: 500;
}

#faq p,dl
{
	margin-right: auto;
	margin-bottom: 2em;
	margin-left: auto;
	color: #525252;
}

#faq span
{
	color: gray;
}


/* FAQ block end */


/* spec block begin */

#spec 
{
	font-size: 1em;
	margin: 0 auto;
	padding: 50px;
	text-align: left;
	background-color: white;
	width: 60%;
	font-size: 1em;
}

#spec code
{
    white-space: nowrap;
    font-size: 1.1em;
    padding: 3px;
	color: #1a1a1a;
	-webkit-border-radius: 0;
	background-color: #efefef;
	border: 0;
}

#spec img
{
	margin-bottom: 2em;
}

#spec h2
{
	margin-top: 2em;
}

/* spec block end */


/* Footer block begin */

#support_block
{
	display: block;
	margin-top: 2em;
	margin-bottom: 2em;
	text-align:center;
	width: 100%;
}

#footer
{
	padding-top: 100px;
	padding-bottom: 80px;
	background-color: #1e1e1e;
	font-weight: normal;
}

#footer ul
{
	list-style: none;
}

#footer li 
{
	margin: 0;
	padding: 0;
}

#footer a
{
	text-decoration: none;
	color: silver;
	margin-right: 40px;
	margin-left: 40px;
}

#footer a:visited
{
	color: silver;
	text-decoration: none;
}

#footer a:hover
{
	color: white;
	text-decoration: underline;
}

/* Footer block end */


/* App Store badges begin*/

#app_store_row 
{
  padding: 20px 0 40px;
  text-align: center;
}

.btn_mas 
{
  width: 232px;
  height: 56px;
  background: url(../images/mas_badge.svg);
  background-size: 232px 56px;
  display: inline-block;
  text-indent: -9999px;
  margin: 0 10px;
}

.btn_as 
{
  width: 192px;
  height: 56px;
  background: url(../images/as_badge.svg);
  background-size: 192px 56px;
  display: inline-block;
  text-indent: -9999px;
  margin: 0 10px;
}

/* App Store badges end*/



/* Image gallery styles*/


.gallery
{
	margin: 0;
	padding: 30px 0;
	text-align: center;
	background-color: #363636;
	display: block;
	
}

#popup-gallery-mac
{

}

#popup-gallery-ipad
{
	
}

#popup-gallery-iphone
{

}

.popup-gallery img
{
	
}

.gallery a
{
	margin: 0 10px;
}

.gallery p
{
	margin: 10px auto 20px;
	color: white;
	font-size: 1.0em;
}


/* Games style block begin */

.game
{
	margin: 2em 0;
	padding: 50px 0px 50px 0px;
	overflow: auto;
}

#dark_style
{
	background-color: #f0f0f0;
}

/* Games style block end */


/* Two column style block begin */


#two_column 
{
	margin: 0px auto 0px auto;
	width: 80%;
	max-width: 960px;
	min-width: 600px;
	padding: 30px 0px 50px;
	text-align: center;
}

#two_column div
{
	float: left;
	text-align: center;
	width: 40%;
	margin: 20px 5%;
}

#two_column h2
{
	margin-right: auto;
	margin-left: auto;
	font-size: 1.5em;
	font-weight: 500;
	text-align: center;
}

#two_column p
{
	font-size: 1.3em;
	font-weight: normal;
	margin: 30px auto;
	text-align: center;
}


/* Two column style block end */


/* End */



