/* Accordions START */
.accordion-wrapper {
   width: 90%;
}

.accordion-wrapper.software {
   width: 90%;
}

.accordion {
   background-color: #FAFAFA;
   color: #444;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   transition: 0.4s;
   font-size: 0.7em;
   font-weight: bolder;
 }

 .active, .accordion:hover {
   background-color: #555867;
   color: #fff;
 }

 .accordion:after {
   content: '+';
   color: #444;
   font-weight: bold;
   float: right;
   margin-left: 5px;
 }

 .active, .accordion:hover:after {
   color: #fff;
 }

 .active:after {
   content: "-";
   color: #fff;
 }

 .panel {
   padding: 0 18px;
   background-color: #FFFFFF;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
   font-size: 0.7em;
 }

 .subhead {
    background-color: #959ba5;
    color: #fff;
    width: 100%;
    padding: 5px 15px;
 }
 /* Accordions END */


/* End */
